* {
    font-family: "Barlow Semi Condensed";
}

.App {
    padding: 25px 0px 10vh 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overscroll-behavior: none;
    overflow: hidden;
}

button {
    font-family: "Barlow Semi Condensed";
    border: none;
    outline: none;
}

.header-container {
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    box-sizing: border-box;
}

.header-img {
    width: 90px;
}

.score-container {
    width: 85px;
    height: 75px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.score-label {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    color: hsl(229, 64%, 46%);
    font-size: 12px;
    font-weight: bold;

}

.score {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    color: hsl(229, 25%, 31%);
    font-size: 40px;
    font-weight: bold;
}


.game-start-container {
    position: relative;
    background-repeat: no-repeat;
    width: 265px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "paper scissors"
        "rock rock";
    box-sizing: border-box;
    place-items: center;
}

.game-start-container-expert {
    position: relative;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "scissors scissors"
        "spock paper"
        "lizard rock";
    box-sizing: border-box;
    place-items: center;
}

#paper-ele {
    grid-area: paper;
    justify-self: start;
    
}

#scissors-ele {
    grid-area: scissors;
    justify-self: end;
}

#rock-ele {
    grid-area: rock;
    justify-self: center;
}

#paper-ele-expert {
    grid-area: paper;
    justify-self: end;
    position: absolute;
    right: -25px;
    top: 25px;
}

#scissors-ele-expert {
    grid-area: scissors;
    justify-self: center;
    position: absolute;
    top: 35px;
}

#rock-ele-expert {
    grid-area: rock;
    justify-self: end;
    position: absolute;
    right: 25px;
    top: 45px;
}

#spock-ele-expert {
    grid-area: spock;
    justify-self: start;
    position: absolute;
    left: -25px;
    top: 25px;
}

#lizard-ele-expert {
    grid-area: lizard;
    justify-self: start;
    position: absolute;
    left: 25px;
    top: 45px;
}

.game-start-container::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    background: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    /* left: 15%; */
}


.game-start-container-expert::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    background: url(./images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}


.piece-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    box-shadow: inset 0 5px rgba(0,0,0,0.15);
    margin-bottom: 5px;
    cursor: pointer;
}

.piece-container-expert {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    box-shadow: inset 0 5px rgba(0,0,0,0.15);
    margin-bottom: 5px;
    cursor: pointer;
}

.piece-container::before, .piece-container::after {
    content: '';
    width: 130%;
    height: 130%;
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    left: -15%;
    top: -15%;
    cursor: pointer;
}

.piece-container-expert::before, .piece-container-expert::after {
    content: '';
    width: 130%;
    height: 130%;
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    left: -15%;
    top: -15%;
    cursor: pointer;
}

/* .piece-container img {
    transform: scale(0.7);
} */

.rock-container::before {
    background: linear-gradient(to bottom, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(349, 71%, 52%);
}

.rock-container-expert::before {
    background: linear-gradient(to bottom, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(349, 71%, 52%);
}

.paper-container::before {
    background: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(230, 89%, 62%);
}

.paper-container-expert::before {
    background: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(230, 89%, 62%);
}

.scissors-container::before {
    background: linear-gradient(to bottom, hsl(40, 84%, 53%), hsl(39, 89%, 49%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(39, 89%, 49%);
}

.scissors-container-expert::before {
    background: linear-gradient(to bottom, hsl(40, 84%, 53%), hsl(39, 89%, 49%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(39, 89%, 49%);
}

.spock-container-expert::before {
    background: linear-gradient(to bottom, hsl(189, 58%, 57%), hsl(189, 59%, 53%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(189, 59%, 53%);
}

.lizard-container-expert::before {
    background: linear-gradient(to bottom, hsl(261, 72%, 63%), hsl(261, 73%, 60%));
    box-shadow: 0 5px rgba(0, 0, 0, 0.302), 0 5px hsl(261, 73%, 60%);
}

.rock-container-expert img, .scissors-container-expert img, .paper-container-expert img,
.spock-container-expert img, .lizard-container-expert img {
    transform: scale(0.7);
} 

.extra-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
}

.rules-button, .bonus-button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.rules-button:hover, .bonus-button:hover {
    background-color: white;
    color: hsl(237, 49%, 15%);
}


.rules-container {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.rules-main-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px 25px;
    height: 100vh;
    width: 100%;
}

.rules-header {
    color: hsl(229, 25%, 31%);
    font-size: 28px;
    font-weight: bold;
}

.close-button {
    cursor: pointer;
}

.game-in-session-container {
    margin-top: 60px;
    position: relative;
    width: 290px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
}

.player-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin-top: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 13px;
}

.cpu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    /* width: 100px; */
}

.empty-cpu {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: hsl(237, 49%, 15%);
    align-self: center;
}


.results-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-message {
    width: 200px;
    font-size: 36px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.winner::after {
    box-shadow: 0 0 0 20px #293251, 0 0 0 40px #232c4b, 0 0 0 70px #1e2949;
    z-index: -2;
}

#piece-scissors-expert, #piece-paper-expert, #piece-rock-expert, #piece-spock-expert, #piece-lizard-expert {
    width: 100px;
    height: 100px;
}

.play-again-button {
    background-color: white;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid hsl(237, 49%, 15%);
    text-align: center;
    text-transform: uppercase;
    color: hsl(237, 49%, 15%);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.5px;
}

/* Tablets and Desktop View */
@media screen and (min-width: 651px) {
    .header-container {
        width: 650px;
        height: 150px;
        padding: 15px 15px 15px 25px;
    }
    
    .header-img {
        width: 130px;
    }
    
    .score-container {
        width: 145px;
        height: 120px;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .score-label {
        padding: 0px;
        margin: 0px;
        font-size: 16px;
    }
    
    .score {
        padding: 0px;
        margin: -10px 0px 0px 0px;
        font-size: 65px;
        font-weight: bolder;
    }
    
    .game-start-container {
        margin-top: 20px;
        position: relative;
        width: 400px;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "paper scissors"
            "rock rock";
        box-sizing: border-box;
        place-items: center;
    }
    
    

    .game-start-container::before {
        content: '';
        height: 80%;
        width: 80%;
        top: 20%;
    }
    
    
    
    .piece-container {
        width: 120px;
        height: 120px;
    }


    .game-start-container-expert {
        width: 300px;
        height: 300px;
    }

    .piece-container-expert {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        box-sizing: border-box;
        box-shadow: inset 0 5px rgba(0,0,0,0.15);
        margin-bottom: 5px;
        cursor: pointer;
    }

    #paper-ele-expert {
        grid-area: paper;
        justify-self: end;
        position: absolute;
        right: -25px;
        top: 25px;
    }
    
    #scissors-ele-expert {
        grid-area: scissors;
        justify-self: center;
        position: absolute;
        top: 35px;
    }
    
    #rock-ele-expert {
        grid-area: rock;
        justify-self: end;
        position: absolute;
        right: 25px;
        top: 90px;
    }
    
    #spock-ele-expert {
        grid-area: spock;
        justify-self: start;
        position: absolute;
        left: -25px;
        top: 25px;
    }
    
    #lizard-ele-expert {
        grid-area: lizard;
        justify-self: start;
        position: absolute;
        left: 25px;
        top: 90px;
    }

    

    .extra-buttons {
        width: 85%;
    }
    
    /* .rules-button {
        align-self: flex-end;
        margin-right: 5%;
    } */


    .rules-container {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.424);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        transition: 0.5s;
    }
    
    .rules-main-content {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        height: 350px;
        width: 400px;
        border-radius: 15px;
        box-sizing: border-box;
        position: relative;
    }
    
    .rules-header {
        margin: 0px;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 25px;
        left: 30px;
    }
    
    .rules-image {
        margin-top: 0px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
    }

    .close-button {
        margin: -10px 0px 0px 0px;
        cursor: pointer;
        position: absolute;
        top: 42px;
        right: 30px;
    }

    .game-in-session-container {
        width: 620px;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .player-option {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .description {
        margin-bottom: 45px;
        margin-top: 0px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 18px;
    }
    
    .cpu-option {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 20px;
        /* width: 100px; */
    }
    
    .empty-cpu {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: hsl(237, 49%, 15%);
        align-self: center;
    }

    #piece-scissors, #piece-paper, #piece-rock {
        width: 150px;
        height: 150px;
    }

    #piece-scissors-expert, #piece-paper-expert, #piece-rock-expert, #piece-spock-expert, #piece-lizard-expert {
        width: 150px;
        height: 150px;
    }

    /* #piece-scissors-expert, #piece-paper-expert, #piece-rock-expert, #piece-spock-expert, #piece-lizard-expert {
        width: 150px;
        height: 150px;
    } */

    #piece-scissors img, #piece-paper img, #piece-rock img {
        transform: scale(1.3);
    }

    #piece-scissors-expert img, #piece-paper-expert img, #piece-rock-expert img, #piece-spock-expert img,
    #piece-lizard-expert img {
        transform: scale(1.3);
    }

    .results-container {
        position: absolute;
        left: 50%;
        /* transform: translateX(-50%); */
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .results-message {
        width: 200px;
        font-size: 36px;
        margin: 0px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .winner::after {
        box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
        z-index: -2;
    }
    
    .play-again-button {
        background-color: white;
        cursor: pointer;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        border: none;
        border-bottom: 2px solid hsl(237, 49%, 15%);
        text-align: center;
        text-transform: uppercase;
        color: hsl(237, 49%, 15%);
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2.5px;
    }
}


@media screen and (min-width: 950px) {
    .game-in-session-container {
        width: 720px;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .game-in-session-container {
        width: 700px;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .empty-cpu {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-color: hsl(237, 49%, 15%);
        align-self: center;
    }

    #piece-scissors, #piece-paper, #piece-rock {
        width: 170px;
        height: 170px;
    }

    #piece-scissors-expert, #piece-paper-expert, #piece-rock-expert, #piece-spock-expert, #piece-lizard-expert {
        width: 170px;
        height: 170px;
    }

    #piece-scissors img, #piece-paper img, #piece-rock img {
        transform: scale(1.5);
    }
}

